 {{> header }}
 {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Aprendiendo Node.js del mejor</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolor vel placeat, totam sed est laboriosam corrupti nesciunt optio aliquid perferendis voluptatum nam ducimus dicta eaque vitae beatae praesentium facere.
            </p>
        </div>
        <div class="col-4">
            <img src="../public/assets/img/node.png" alt="">
        </div>

    </div>
 {{> footer }}